*{
  margin: 0;
  padding: 0;
}

/* for inter font  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* navigation */
#heading {
    max-width: 1600px;
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    align-items: center;
    padding: 24px 200px;
}
.hidden-div {
    display: none;
}
.heading-title {
    font-size: 1.5rem;
    color: white;
}
span{
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#heading .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.list-items {
    font-size: 1.1rem;
    font-weight: medium;
}
.list-items a{
    text-decoration: none;
    color: white;
}
.list-items a:hover{
  color: #F472B6;
}
#heading button {
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
#heading button:hover {
    transform: scale(150%);
    transition: 0.5s ease;
}


/* banner part  */

#banner {
    max-width: 1600px;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 200px;
    justify-content: center;
    align-items: center;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-image img {
    width: 100%;
    max-width: 116px;
    margin: 0 auto;
    background: url(./assets/hero-circle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px;
}
.banner-content .title {
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.banner-p {
    font-size: 1rem;
    color: #D1CED5;
    margin-top: 8px;
    text-align: center;
}

.badge {
    font-size: 1.125rem;
    font-weight: 600;
    color: black;
    background-color: #00FF88;
    padding: 10px 20px;
    border-radius: 1000px;
    margin-bottom: -110px;
    z-index: 1;
    margin-right: -200px;
    box-shadow: 0px 3px 30px 10px #00FF8850;
}
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn1 {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 12px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.buttons {
    margin-top: 25px;
}
.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 12px 16px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 90px;
}

#fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

